<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
<!-- 		<add key="nuget-group" value="https://nexus.genexus.com/repository/nuget-group/" />
		<add key="nuget-group-v3" value="https://nexus.genexus.com/repository/nuget-group-v3/index.json" protocolVersion="3" /> -->
		<add key="GX_BL" value="/Users/german.asiz/Documents/Work/LocalNuGets/GX_BL" />
		<add key="GX_Services" value="/Users/german.asiz/Documents/Work/LocalNuGets/GX_Services" />
	</packageSources>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
</configuration>
