:host {
    display: grid;
    padding: var(--mer-spacing--md);
    overflow-y: hidden;
    grid-template:
        "header" max-content
        "type-selector" max-content
        "objects" 100%
}

.header {
    grid-area: header;
    text-align: center;
    color: var(--mer-color__primary-blue--200);
    font-size: var(--mer-font__size--md);
    font-weight: var(--mer-font__weight--semi-bold);
}

.type-selector{
    grid-area: type-selector;
}

.objects {
    grid-area: objects;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    gap: var(--mer-spacing--md);
}
  