<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="GX_BL" value="/Users/german.asiz/Documents/Work/LocalNuGets/GX_BL" />
	</packageSources>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
</configuration>
