:host {
  display: grid;
  grid-template:
    "server-url server-url" max-content
    "continue-with-genexus-account continue-with-genexus-account" max-content
    "username password" max-content
    "footer footer" max-content / 1fr 1fr;
}

form {
  display: contents;
}

.server-url {
  grid-area: server-url;
}

.continue-with-genexus-account {
  grid-area: continue-with-genexus-account;
}

.username {
  grid-area: username;
}

.password {
  grid-area: password;
}

.footer {
  grid-area: footer;
}
